body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(green, teal);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(6, 100px);
    width: 400px;
}

.screen {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}